
.header{
    text-align: center;
    &__logo{
        font-size: 30px;
        font-family: 'Starjedi';
        color: $yellow;
        //font-family: 'Starjhol';
        line-height: 55px;
        letter-spacing: 5px;

        text-shadow: 0 1px 0 #b89420, 
        0 2px 0 #b49220,
        0 3px 0 #94781b,
        0 4px 0 #7e6617,
        0 5px 0 #685313,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
    }
}
