
.header{
    text-align: center;
    &__logo{
        font-size: 30px;
        font-family: 'Starjedi';
        color: $yellow;
        //font-family: 'Starjhol';
        line-height: 55px;
        letter-spacing: 5px;

        //transform: rotateY(20);


        text-shadow: 0 1px 0 #cebc1a, 
        0 2px 0 #b4a517,
        0 3px 0 #9c8f14,
        0 4px 0 #887c11,
        0 5px 0 #69600d,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
    }
    
}
